

.body {
background-color:whitesmoke;
height: 100%;
background-position: center;
background-repeat: no-repeat;
}

 
.title{
  font-family: 'Righteous', sans-serif;
    font-size: 50px;
    text-align: center;
    color:#3d1ee9;
    margin-top: 40px;
}
.center {
  margin: auto;
  margin-top: 200px;
}

#header {
  font-family: 'Righteous', sans-serif;
  font-size: 30px;
  color:#1613a5;
  margin-bottom: 30px;
}

h2 {
  font-family: 'Righteous', sans-serif;
}

.book-list {
  margin-top: 50px;
  visibility: hidden;
}
